Repository boostcamp-2020/Project18-C-Bootion, pull requests merged in 2020-11, with the labels that each got.

#8 [#2] docs: Daily Scrum & Wrap Up Template 수정
  .github/ISSUE_TEMPLATE/daily-scrum---wrap-up-template.md
Labels: :100: must, 📒 document

#11 백엔드 개발환경 세팅
  .env.sample
  .gitignore
  backend/.eslintrc
  backend/.prettierrc
  backend/config/webpack.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/App.ts
  backend/src/www.ts
  backend/tsconfig.json
  docker-compose.yml
Labels: :100: must, :national_park: environment, 🔙 backend

#12 프론트엔드 개발환경 세팅
  .gitignore
  frontend/.eslintrc
  frontend/.prettierrc
  frontend/config/webpack.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.html
  frontend/src/index.tsx
  frontend/tsconfig.json
Labels: :100: must, :national_park: environment, 🌈 frontend, 🐣 feature

#13 프론트엔드 개발환경 추가 세팅
  frontend/.babelrc
  frontend/config/webpack.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/tsconfig.json
Labels: :100: must, :national_park: environment, 🌈 frontend, 🐣 feature, 🔧 refactor

#14 백엔드 개발환경 세팅 수정
  backend/config/webpack.config.js
  backend/tsconfig.json
Labels: :100: must, 🔙 backend, 🔧 refactor, 🖼 style

#17 프론트엔드 구조 및 UI 개발환경 추가
  .gitignore
  frontend/.eslintrc
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/config/webpack.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/favicon.png
  frontend/src/components/atoms/Button/Button.stories.tsx
  frontend/src/components/atoms/Button/Button.test.ts
  frontend/src/components/atoms/Button/Button.tsx
  frontend/src/components/atoms/Button/index.ts
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/index.ts
  frontend/src/components/pages/index.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
Labels: :100: must, :national_park: environment, 🌈 frontend

#18 프론트엔드 webpack 설정 분리 및 package.json 의존성 수정
  frontend/config/webpack.config.js
  frontend/config/webpack.dev.js
  frontend/config/webpack.prod.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/favicon.ico
  frontend/src/assets/favicon.png
Labels: :100: must, :national_park: environment, 🌈 frontend

#20 mongoose 연결 및 테스트
  backend/package-lock.json
  backend/package.json
  backend/src/App.ts
  backend/src/schemas/index.ts
  backend/src/schemas/user.ts
  backend/src/www.ts
  backend/tsconfig.json
Labels: :100: must, :national_park: environment, 🐣 feature, 🔙 backend

#25 배포 테스트
  .env.sample
  .gitignore
  backend/.env.sample
  backend/.eslintrc
  backend/.prettierrc
  backend/Dockerfile
  backend/config/webpack.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/App.ts
  backend/src/schemas/index.ts
  backend/src/schemas/user.ts
  backend/src/www.ts
  backend/tsconfig.json
  docker-compose.dev.yml
  docker-compose.yml
Labels: :100: must, :national_park: environment, 🔙 backend

#29 자동 배포 설정
  backend/package-lock.json
  backend/package.json
Labels: :national_park: environment, 🔙 backend

#33 BlockComponent 및 Schemes 추가
  backend/package-lock.json
  frontend/.prettierrc
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/BlockComponent/BlockComponent.stories.tsx
  frontend/src/components/atoms/BlockComponent/BlockComponent.test.ts
  frontend/src/components/atoms/BlockComponent/BlockComponent.tsx
  frontend/src/components/atoms/BlockComponent/index.ts
  frontend/src/components/atoms/Button/Button.stories.tsx
  frontend/src/components/atoms/Button/index.ts
  frontend/src/components/atoms/index.ts
  frontend/src/schemes.ts
  frontend/src/utils/index.ts
  frontend/tsconfig.json
Labels: :100: must, :national_park: environment, 🌈 frontend, 🐣 feature, 🔧 refactor

#38 컴포넌트 종류 변경
  frontend/src/components/atoms/BlockComponent/BlockComponent.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#41 서버 배포 자동화 간 발생 오류 수정
  .github/workflows/deployment.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/src/App.ts
  backend/src/schemas/index.ts
  docker-compose.yml
Labels: :100: must, :national_park: environment, 🐛 bug, 🔙 backend

#43 Block에서 Heading 타입으로 변경 활성화
  frontend/.eslintrc
  frontend/src/components/atoms/BlockComponent/BlockComponent.tsx
  frontend/src/components/atoms/Heading/Heading.stories.tsx
  frontend/src/components/atoms/Heading/Heading.tsx
  frontend/src/schemes.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#44 Block Handler 구현
  backend/package-lock.json
  frontend/.prettierrc
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/draggable.svg
  frontend/src/assets/plus.svg
  frontend/src/components/atoms/BlockComponent/BlockComponent.tsx
  frontend/src/components/atoms/BlockComponent/index.ts
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/BlockComponent/BlockComponent.stories.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.test.ts
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/BlockComponent/index.ts
  frontend/src/components/molecules/BlockHandler/BlockHandler.stories.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.tsx
  frontend/src/components/molecules/BlockHandler/index.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/index.ts
  frontend/tsconfig.json
Labels: :100: must, 🌈 frontend, 🐣 feature

#45 프론트엔드 배포용 설정 파일 추가
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx/nginx.conf
Labels: :100: must, :national_park: environment, 🌈 frontend

#46 프론트엔드 절대 경로 설정
  frontend/.eslintrc
  frontend/.storybook/main.js
  frontend/config-overrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/atoms/HeaderButton/HeaderButton.stories.tsx
  frontend/src/components/atoms/HeaderLink/HeaderLink.stories.tsx
  frontend/src/components/atoms/Heading/Heading.stories.tsx
  frontend/src/components/atoms/Heading/Heading.tsx
  frontend/src/components/atoms/Heading/index.ts
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/BlockComponent/BlockComponent.stories.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/BlockComponent/index.ts
  frontend/src/components/molecules/BlockHandler/BlockHandler.stories.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.tsx
  frontend/src/components/molecules/Editor/Editor.stories.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/Header/Header.stories.tsx
  frontend/src/components/molecules/Header/Header.tsx
  frontend/src/components/molecules/Menu/Menu.stories.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/HeaderMenu/HeaderMenu.stories.tsx
  frontend/src/components/organisms/HeaderMenu/HeaderMenu.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/pages/PageComponent/PageComponent.stories.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/components/pages/index.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
Labels: :100: must, :national_park: environment, 🌈 frontend
