Repository boostcamp-2020/Project18-C-Bootion, pull requests merged in 2020-12, with the labels that each got.

#50 BlockHandler과 BlockComponent 리팩토링 및 수정요청 사항 반영
  frontend/.prettierrc
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/draggable.svg
  frontend/src/assets/plus.svg
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.stories.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/HoverArea/HoverArea.tsx
  frontend/src/components/molecules/HoverArea/index.ts
  frontend/src/components/molecules/index.ts
  frontend/src/index.tsx
  frontend/src/stores/page.tsx
  frontend/tsconfig.paths.json
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#54 Recoil 적용 간 stores, hooks 및 utils 목업
  frontend/src/schemes.ts
  frontend/src/stores/index.ts
  frontend/src/stores/page.ts
  frontend/src/stores/page.tsx
  frontend/src/utils/fetchApi.ts
  frontend/src/utils/index.ts
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#55 store 변경사항을 BlockComponent에 반영
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
Labels: :100: must, 🌈 frontend, 🔧 refactor

#57 Dummy data fetch 함수 구현 및 적용
  frontend/src/App.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.stories.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.stories.tsx
  frontend/src/components/molecules/Editor/Editor.stories.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/Header/Header.stories.tsx
  frontend/src/components/molecules/Header/Header.tsx
  frontend/src/components/pages/PageComponent/PageComponent.stories.tsx
  frontend/src/schemes.ts
  frontend/src/utils/fetchApi.ts
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#59 BlockComponent 내 block prop 참조 옵셔널 체이닝 롤백
  frontend/src/App.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
Labels: :100: must, 🌈 frontend, 🐛 bug, 🔧 refactor

#61 프론트엔드 git commit 전 ESLint 검사 자동화
  frontend/.eslintignore
  frontend/package-lock.json
  frontend/package.json
Labels: :100: must, :national_park: environment, 🌈 frontend

#63 블록 타입에 따라 content가 변하는 로직 외부화
  frontend/src/components/atoms/Text/Text.stories.tsx
  frontend/src/components/atoms/Text/Text.tsx
  frontend/src/components/atoms/Text/index.ts
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/BlockComponent/BlockComponent.stories.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.stories.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBlockConversion.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/regex.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#68 방향키 입력 interaction 구현 및 관련 hook 구현
  frontend/src/App.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBlockConversion.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/schemes.ts
  frontend/src/stores/index.ts
  frontend/src/stores/page.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#69 Post 및 Block 관련 API 구현
  backend/package.json
  backend/src/App.ts
  backend/src/aops/errorHandler.ts
  backend/src/aops/index.ts
  backend/src/aops/transactionHandler.ts
  backend/src/controllers/block.ts
  backend/src/controllers/index.ts
  backend/src/controllers/page.ts
  backend/src/models/block.ts
  backend/src/models/index.ts
  backend/src/models/page.ts
  backend/src/routes/block.ts
  backend/src/routes/index.ts
  backend/src/routes/page.ts
  backend/src/schemas/user.ts
  backend/src/services/block.ts
  backend/src/services/index.ts
  backend/src/services/page.ts
  backend/src/utils/generateId.ts
  backend/src/utils/index.ts
  backend/src/www.ts
  backend/tsconfig.paths.json
Labels: :100: must, :national_park: environment, 🐣 feature, 🔙 backend

#73 Favicon 적용 및 asset 관리
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/assets/favicon.ico
  frontend/src/logo.svg
Labels: :package: could, 🌈 frontend, 🐣 feature

#70 Contenteditable div의 내용에 따른 블록 타입 변경
  frontend/.eslintrc
  frontend/src/assets/toggle-default.svg
  frontend/src/assets/toggle-down.svg
  frontend/src/components/atoms/BlockContent/BlockContent.stories.tsx
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/atoms/BlockContent/index.ts
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/hooks/index.ts
  frontend/src/schemes.ts
  frontend/src/utils/blockContent.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/regex.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#75 PR병합 사항 반영
  frontend/public/manifest.json
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/hooks/useBlockConversion.tsx
  frontend/src/utils/fetchApi.ts
Labels: 🌈 frontend, 🐣 feature, 🔧 refactor

#80 배포 빌드 오류 해결 간 webpack 경로 alias 설정 추가
  backend/config/webpack.config.js
Labels: :national_park: environment, 🐛 bug, 🔙 backend

#85 caret 이슈 및 로직 추가
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#84 Enter Key interaction 구현
  frontend/src/App.tsx
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/HoverArea/HoverArea.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useManager.tsx
  frontend/src/index.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/page.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#87 프론트엔드 API 요구사항에 따른 리팩토링
  backend/src/App.ts
  backend/src/controllers/block.ts
  backend/src/controllers/page.ts
  backend/src/models/block.ts
  backend/src/models/page.ts
  backend/src/services/block.ts
  backend/src/services/page.ts
Labels: :100: must, 🔙 backend, 🔧 refactor

#86 백엔드 API 통신을 위한 hooks 및 유틸리티 함수 추가
  frontend/.eslintrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/molecules/BlockComponent/BlockComponent.stories.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.stories.tsx
  frontend/src/components/molecules/Editor/Editor.stories.tsx
  frontend/src/components/molecules/Header/Header.stories.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/pages/PageComponent/PageComponent.stories.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useApi.ts
  frontend/src/stores/index.ts
  frontend/src/stores/page.ts
  frontend/src/utils/blockApis.ts
  frontend/src/utils/fetchDummyData.ts
  frontend/src/utils/index.ts
  frontend/src/utils/pageApis.ts
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#89 Enter Key interaction에 기존 Block의 value를 slice해 할당하는 로직 추가
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useManager.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#91 blockMapState 구현 및 반영
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/hooks/useManager.tsx
  frontend/src/schemes.ts
  frontend/src/stores/page.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#92 BlockContent 버그 및 리팩토링
  frontend/.eslintrc
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useManager.tsx
Labels: :100: must, 🌈 frontend, 🐛 bug, 🔧 refactor, 🖼 style

#94 enter 시 caret이 당겨졌다 재배치되는 버그 수정
  frontend/src/hooks/useCommand.tsx
Labels: :100: must, 🌈 frontend, 🐛 bug, 🐣 feature

#96 형제 블록이 상속해야하는 타입일 때 타입을 상속하는 로직 구현
  frontend/src/hooks/useCommand.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#98 Page 관련 API를 Menu 컴포넌트에 연동
  frontend/src/App.tsx
  frontend/src/assets/doubleChevronLeft.svg
  frontend/src/assets/plusPage.svg
  frontend/src/assets/trash.svg
  frontend/src/components/atoms/HeaderButton/HeaderButton.tsx
  frontend/src/components/atoms/HeaderLink/HeaderLink.tsx
  frontend/src/components/molecules/Editor/Editor.stories.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/Header/Header.stories.tsx
  frontend/src/components/molecules/Header/Header.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/molecules/MenuItem/MenuItem.tsx
  frontend/src/components/molecules/MenuItem/index.ts
  frontend/src/components/molecules/Title/Title.tsx
  frontend/src/components/molecules/Title/index.ts
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/HeaderMenu/HeaderMenu.stories.tsx
  frontend/src/components/organisms/HeaderMenu/HeaderMenu.tsx
  frontend/src/components/pages/PageComponent/PageComponent.stories.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/stores/page.ts
  frontend/src/utils/debounce.ts
  frontend/src/utils/index.ts
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#99 caret offset이 0일 때 Enter Key interaction 구현
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useManager.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#103 블록 타입 변경 버그 수정
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/hooks/useCommand.tsx
Labels: :100: must, 🌈 frontend, 🐛 bug, 🐣 feature

#109 데이터 모델 변경에 따른 프론트 엔드 리팩토링
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.stories.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.stories.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/Title/Title.tsx
  frontend/src/components/organisms/HeaderMenu/HeaderMenu.tsx
  frontend/src/components/pages/PageComponent/PageComponent.stories.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBlock.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/hooks/useManager.tsx
  frontend/src/schemes.ts
  frontend/src/stores/page.ts
  frontend/src/utils/blockContent.tsx
  frontend/src/utils/fetchDummyData.ts
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#111 List타입 스타일 수정
  frontend/src/assets/toggle-default.svg
  frontend/src/assets/toggle-down.svg
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/utils/blockContent.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#116 서버 API 리팩토링에 따라 프론트엔드 API 호출 함수 수정
  frontend/src/components/atoms/HeaderButton/HeaderButton.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/Header/Header.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/molecules/MenuItem/MenuItem.tsx
  frontend/src/components/molecules/Title/Title.tsx
  frontend/src/components/organisms/HeaderMenu/HeaderMenu.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/stores/page.ts
  frontend/src/utils/blockApis.ts
  frontend/src/utils/fetchApi.ts
  frontend/src/utils/index.ts
  frontend/src/utils/pageApis.ts
Labels: 🌈 frontend, 🐣 feature, 🔧 refactor

#108 NumberedList 넘버링
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/utils/blockContent.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#112 서버 데이터 모델 및 API 리팩토링
  backend/.eslintignore
  backend/config/webpack.config.js
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/block.ts
  backend/src/controllers/page.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/objectIdValidator.ts
  backend/src/models/block.ts
  backend/src/models/index.ts
  backend/src/models/page.ts
  backend/src/routes/block.ts
  backend/src/routes/page.ts
  backend/src/services/block.ts
  backend/src/services/page.ts
  backend/test/services/block.spec.ts
  backend/test/services/page.spec.ts
  backend/tsconfig.json
  backend/tsconfig.paths.json
Labels: :100: must, 🔙 backend, 🔧 refactor

#114 Tab key interaction 구현
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/hooks/useManager.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#121 Backspace key interaction 구현
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/hooks/useManager.tsx
Labels: 🌈 frontend, 🐛 bug, 🐣 feature, 🔧 refactor

#120 BlockContent 서버 동기화
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/Title/Title.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#119 Block drag & drop 구현
  frontend/.eslintrc
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockComponent/BlockComponent.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.tsx
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/HoverArea/HoverArea.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/stores/page.ts
Labels: 🌈 frontend, 🐣 feature

#123 비어있는 Column, Grid 블록 자동삭제 구현
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#127 Menu 컴포넌트 CSS 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/HeaderButton/HeaderButton.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/organisms/HeaderMenu/HeaderMenu.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
Labels: 🌈 frontend, 🔧 refactor

#129 caret 버그 fix
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/Title/Title.tsx
Labels: :100: must, 🌈 frontend, 🐛 bug, 🐣 feature

#132 하단 공간 클릭에 따른 로직 구현
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/Title/Title.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/hooks/useManager.tsx
  frontend/src/schemes.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#130 BlockModal 컴포넌트 구현
  frontend/public/index.html
  frontend/src/assets/bulletedList.png
  frontend/src/assets/heading1.png
  frontend/src/assets/heading2.png
  frontend/src/assets/heading3.png
  frontend/src/assets/loading.svg
  frontend/src/assets/numberedList.png
  frontend/src/assets/quote.png
  frontend/src/assets/text.png
  frontend/src/assets/toggledList.png
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockModal/BlockModal.tsx
  frontend/src/components/molecules/BlockModal/index.ts
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/molecules/index.ts
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/stores/page.ts
  frontend/src/utils/blockApis.ts
  frontend/src/utils/blockContent.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#135 버그 수정 및 서버 동기화 로직 적용
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockModal/BlockModal.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/hooks/useManager.tsx
Labels: :100: must, 🌈 frontend, 🐛 bug, 🐣 feature, 🔧 refactor

#138 caret offset이 0일 때 / 입력시 에러가 발생하는 버그 수정
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#144 BlockHandler 모달 띄우기
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockHandler/BlockHandler.tsx
  frontend/src/components/molecules/BlockModal/BlockModal.tsx
  frontend/src/hooks/useFamily.tsx
  frontend/src/utils/blockContent.tsx
Labels: :package: could, 🌈 frontend, 🐣 feature

#148 Block API 추가
  backend/src/App.ts
  backend/src/aops/transactionHandler.ts
  backend/src/controllers/block.ts
  backend/src/models/block.ts
  backend/src/routes/block.ts
  backend/src/services/block.ts
  backend/src/www.ts
  backend/test/services/block.spec.ts
  backend/test/services/page.spec.ts
Labels: 🐣 feature, 🔙 backend, 🔧 refactor

#149 클라이언트 API 호출 함수 추가
  frontend/src/utils/blockApis.ts
Labels: 🌈 frontend, 🐣 feature

#150 HeaderMenu 수정
  frontend/src/components/molecules/Header/Header.tsx
  frontend/src/utils/blockContent.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/time.ts
Labels: :package: could, 🌈 frontend, 🐣 feature

#155 클라이언트 실시간 동기화 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockModal/BlockModal.tsx
  frontend/src/components/pages/PageComponent/PageComponent.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useManager.tsx
  frontend/src/hooks/useSocket.tsx
  frontend/src/socket.ts
Labels: :100: must, 🌈 frontend, 🐣 feature, 🔧 refactor

#154 서버 실시간 동기화 기능 구현
  backend/package-lock.json
  backend/package.json
  backend/src/App.ts
  backend/src/controllers/block.ts
  backend/src/controllers/page.ts
  backend/src/middlewares/block.ts
  backend/src/middlewares/index.ts
  backend/src/routes/block.ts
  backend/src/socket.ts
Labels: :100: must, 🐣 feature, 🔙 backend, 🔧 refactor

#156 소켓 데이터와 상태 연결 구현
  frontend/src/components/molecules/Editor/Editor.tsx
  frontend/src/components/molecules/Header/Header.tsx
  frontend/src/hooks/useSocket.tsx
  frontend/src/stores/page.ts
Labels: :100: must, 🌈 frontend, 🐣 feature

#157 env 샘플 수정 및 publish 데이터 수정
  backend/.env.sample
  backend/src/controllers/page.ts
Labels: 🌈 frontend, 🐣 feature, 🔙 backend, 🔧 refactor

#159 토글리스트 보류 처리
  frontend/src/components/molecules/BlockModal/BlockModal.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/schemes.ts
  frontend/src/utils/blockContent.tsx
Labels: :package: could, 🌈 frontend, 🐣 feature

#160 title 데이터 갱신 주기를 onBlur로 수정
  frontend/src/components/molecules/Title/Title.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#163 Bakcend 의존성 변경
  backend/package-lock.json
  backend/package.json
Labels: :100: must, 🐛 bug, 🐣 feature, 🔙 backend

#166 fix: onBlur 로직 충돌사항 수정
  frontend/src/components/atoms/BlockContent/BlockContent.tsx
  frontend/src/components/molecules/BlockModal/BlockModal.tsx
  frontend/src/hooks/useCommand.tsx
  frontend/src/hooks/useManager.tsx
  frontend/src/hooks/useSocket.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature

#167 fix: 맨 처음 블록 삭제에 따른 UX 개선
  frontend/src/hooks/useCommand.tsx
Labels: :100: must, 🌈 frontend, 🐣 feature
